{% extends '_base.html' %}

{% block title %}
    Log Out
{% endblock %}

{% block body %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">
                            <div class="my-3 text-center">خروج از اکانت</div>
                            <div class="">
                                <div class="">
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <hr>
                                        <br>
                                        <h4>
                                            آیا میخواهید از اکانت {{ request.user.username }} خارج شوید؟
                                        </h4>
                                            <button class="btn btn-danger my-4" type="submit">خروج</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}