{% extends '_base.html' %}

{% block title %}
    تغییر رمز عبور
{% endblock %}
{% block body %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <div class="my-3 text-center"><h1>ایمیل فرستاده شد!</h1></div>
                            <p class="mt-3">لطفا ایمیل خود را چک کنید.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}