{% extends '_base.html' %}

{% block body %}

    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">
                            <div class="my-3 text-center">تغییر رمز عبور</div>
                            <form class="" method="post">
                                {% csrf_token %}
                                <div style="color: red">{{ form.errors }}</div>
                                <br>
                                <i class="fa fa-lock"> {{ form.password1.label }}: </i>
                                {{ form.password1 }}
                                <hr>
                                <br>

                                <i class="fa fa-lock"> {{ form.password2.label }}: </i>
                                {{ form.password2 }}
                                <hr>
                                <br>

                                <div class="my-3">
                                    <button class="btn custom-btn w-100">درخواست بازیابی گذرواژه</button>
                                </div>

                            </form>


                            <div class="">
                                <p class="small text-center my-3"><a href="register.html">ثبت‌نام نکرده‌اید؟ برای
                                    ثبت‌نام کلیک کنید.</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}