{% extends '_base.html' %}

{% load static %}

{% block title %}
    درباره ما
{% endblock %}

{% block body %}
    <main>
        <h2 class="text-center border-bottom  py-5 bg-white">درباره ما</h2>
        <section class="container my-5">
            {% for des in description %}
                <p class=" text-justify lineh30">{{ des.description }}</p>
                <h3 class="my-3">محصولات ما</h3>

                <p class="text-justify lineh30">{{ des.our_products }}</p>
            {% endfor %}
        </section>

        <section class="my-5 container bg-white py-5">
            <h3 class="our-team-title">اعضای تیم</h3>
            <div class="d-flex align-items-center justify-content-center flex-wrap">
                <!-- item -->
                {% for pro in profile %}
                    {% if pro.is_team_member %}
                        <div class="member">
                            <div class="member-img-box">
                                {% if pro.profile_pic %}
                                    <img alt="pic" class="ui circular image" src="{{ pro.profile_pic.url }}">
                                {% else %}
                                    <img alt="pic" class="ui circular image"
                                         src="{% static '/image/sutdent-prof.png' %}">
                                {% endif %}
                                <div class="member-overlay"></div>
                            </div>
                            <p>{{ pro.get_full_name }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
            <br>
            <br>
            <h3 class="our-team-title">مدرس ها</h3>
            <div class="d-flex align-items-center justify-content-center flex-wrap">
                <!-- item -->
                {% for pro in profile %}
                    {% if pro.is_teacher %}
                        <div class="member">
                            <div class="member-img-box">
                                {% if pro.profile_pic %}
                                    <img alt="pic" class="ui circular image" src="{{ pro.profile_pic.url }}">
                                {% else %}
                                    <img alt="pic" class="ui circular image"
                                         src="{% static '/image/sutdent-prof.png' %}">
                                {% endif %}
                                <div class="member-overlay"></div>
                            </div>
                            <p>{{ pro.get_full_name }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}