{% extends '_base.html' %}
{% load static %}

{% block title %}
    ویدیو ها
{% endblock %}

{% block body %}
    <main>

        <section class="py-5">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2 class="title-section">همه ویدیوها</h2>

                </div>
                <div class="row">

                    <!-- item -->
                    {% for item in course %}
                        <div class="col-md-6 col-lg-4 my-2">
                            <div class="custom-bg">
                                <div class="video-card">
                                    <a href="{{ item.get_absolute_url }}" class="position-relative d-block ">
                                        {% if item.image %}
                                            <img src="{{ item.image.url }}" alt="" class="img-fluid w-100 h-100">
                                        {% else %}
                                            <img src="{{ item.title }}" alt="">
                                        {% endif %}
                                        <div class="video-play-btn">
                                            <i class="fa fa-play"></i>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between video-category-time">
                                            <h6 class="">{{ item.title }}</h6>
                                            <span class="vid-time">{{ item.created }}</span>
                                        </div>
                                        <div class="video-card-details">
                                            <div>
                                                <span>111122</span>
                                                <i class="fa fa-eye"></i>
                                            </div>
                                            <div>
                                                <span>22</span>
                                                <i class="fa fa-heart"></i>
                                            </div>
                                            <div>
                                                <span>{{ item.comment.count }}</span>
                                                <i class="fa fa-comment"></i>
                                            </div>
                                        </div>
                                        <div class="article-overlay"></div>
                                    </a>

                                </div>
                                <a href="{% url 'home:detail_video' item.id %}">
                                    <h5 class="video-card-title m-2">{{ item.description }}</h5>
                                </a>
                                <div class="my-3 pb-3 mx-2">
                                    <i class="fa fa-user  ml-1 "></i>
                                    {% if item.author.get_full_name %}
                                        <span> {{ item.author.get_full_name }} </span>
                                    {% else %}
                                        <span> {{ item.author.username }} </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- end item -->

                </div>
                {% if page_obj.has_other_pages %}
                    <div class="d-flex align-items-center justify-content-center mb-3 pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="mx-1"><i
                                    class="fa fa-chevron-right"></i></a>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <a href="?page={{ i }}" class="active mx-1">{{ i }}</a>
                            {% else %}
                                <a href="?page={{ i }}">{{ i }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="mx-1"><i
                                    class="fa fa-chevron-left"></i></a>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        </section>

    </main>

{% endblock %}
