{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    درباره ما
{% endblock %}

{% block body %}
    <main>
        <h2 class="text-center border-bottom  py-5 bg-white">ارتباط با ما</h2>
        <section class="container my-5">

            <form method="post" action="">
                {% csrf_token %}
                    {{ form | crispy  }}
                <button class="btn btn-primary mt-4" type="submit"> ارسال </button>
            </form>
        </section>
    </main>
{% endblock %}