{% extends '_base.html' %}
{% load static %}

{% block title %}
    ویرایش پنل کاربر
{% endblock %}

{% block body %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-11 col-lg-10">
                        <div class="user-panel custom-bg">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="user-panel-box">
                                    {{ form.errors }}
                                    {% if request.user.profile_pic %}
                                        <div class="user-panel-profile">
                                            <a href="{{ request.user.profile_pic.url }}"><img
                                                    src="{{ request.user.profile_pic.url }}" alt=""></a>
                                        </div>
                                    {% else %}
                                        <div class="user-panel-profile">
                                            <img src="{% static 'image/sutdent-prof.png' %}" alt="">
                                        </div>
                                    {% endif %}
                                    <div class="change-profile-btn mt-4">
                                        {{ form.profile_pic }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-user"></i>
                                        {{ form.first_name.label }}:
                                        {{ form.first_name }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-user"></i>
                                        {{ form.last_name.label }}:
                                        {{ form.last_name }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-envelope"></i>
                                        {{ form.email.label }}:
                                        {{ form.email }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-instagram"></i>
                                        {{ form.instagram.label }}:
                                        {{ form.instagram }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-whatsapp"></i>
                                        {{ form.whatsapp.label }}:
                                        {{ form.whatsapp }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-telegram"></i>
                                        {{ form.telegram.label }}:
                                        {{ form.telegram }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-facebook"></i>
                                        {{ form.facebook.label }}:
                                        {{ form.facebook }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-twitter"></i>
                                        {{ form.twitter.label }}:
                                        {{ form.twitter }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-reddit"></i>
                                        {{ form.reddit.label }}:
                                        {{ form.reddit }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-github"></i>
                                        {{ form.github.label }}:
                                        {{ form.github }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-linkedin"></i>
                                        {{ form.linkedin.label }}:
                                        {{ form.linkedin }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-phone"></i>
                                        {{ form.phone.label }}:
                                        {{ form.phone }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-user-circle"></i>
                                        {{ form.username.label }}:
                                        {{ form.username }}
                                    </div>
                                    {% if request.user.is_teacher %}
                                        <!-- item -->
                                        <div class="user-panel-field">
                                            <i class="fa fa-edit"></i>
                                            {{ form.description.label }}:
                                            <hr>
                                            {{ form.description }}
                                        </div>
                                    {% endif %}

                                </div>
                                <div class="d-flex justify-content-center mt-3 ">
                                    <button type="submit" class="btn custom-btn w-50">اعمال تغییرات</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}