<html lang="en">

<head>
    {% include 'include/head.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<!-- top-header -->
<div class="shadow position-fixed w-100 h-100 d-md-none d-lg-none"></div>
<!-- top-header -->
<header class="position-relative">
    {% include 'include/header.html' %}

</header>
{% include 'include/navbar.html' %}

{% block body %}

{% endblock %}
<!-- footer -->
<footer>
    {% include 'include/footer.html' %}
</footer>

{% include 'include/script.html' %}

</body>

</html>